@model IEnumerable<Document>
@using Microsoft.AspNetCore.Identity


@inject UserManager<IdentityUser> userManager


@{
    ViewData["Title"] = "Index";
    var userId = User.Identity.IsAuthenticated ? userManager.GetUserId(User) : string.Empty;



    Dictionary<int, string> categoryMappings = new Dictionary<int, string>()
    {
        { 0, "Lecture notes" },
        { 1, "Practice materials" },
        { 2, "Coursework" },
        { 3, "Summaries" },
        { 4, "Assignments" },
        { 5, "Tutorial work" },
        { 6, "Essays" },
        { 7, "Other" }
    };
}

<h1>Index</h1>




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>*@

           @* <th>
                @Html.DisplayNameFor(model => model.Anonymous)
            </th>*@
           @* <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>*@

         @*   <th>
                @Html.DisplayNameFor(model => model.University)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
*@


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            if (item.UserID == userId)
            {
                <tr>



                    <td>
                        @{
                            string redirectUrl = "/Document/docview/" + item.University.Name + "/" + item.Course.CourseName + "/" + item.Name + "/" + item.DocumentID;
                            //use a string of link that it can redirect to comtains schoolName, courseName, documentName, and documentID
                            //work with link like https://localhost:7192/Document/docview/%E4%BA%BA%E6%B0%91%E5%A4%A7/Math/secrete%20document2/kjbii76556aa
                        }
                        @Html.ActionLink(item.Name, "RedirectToUrl", "Document", null, new { href = redirectUrl })
                        
                        <!-- Display the image of first page pdf-->
                        <img src="@ViewData[item.DocumentID.ToString()]" style="width: 200px; height: auto;">
                    </td>

                 


                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>

                    <td>
                        @if (categoryMappings.ContainsKey(item.Category))
                        {
                            @categoryMappings[item.Category]
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Category)
                        }
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                   @* <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>*@
                   @* <td>
                        @Html.DisplayFor(modelItem => item.Anonymous)
                    </td>*@

                   @* <td>
                        @Html.DisplayFor(modelItem => item.UserID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Link)
                    </td>*@
                   
                   @* <td>
                        @Html.DisplayFor(modelItem => item.University.SchoolID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.CourseID)
                    </td>*@
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.DocumentID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.DocumentID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.DocumentID">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
